<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">jdbc:mysql://localhost:33033/hibernate_schema</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">Admin@123</property>
    <property name="show_sql">true</property>
    <!-- <property name="hbm2ddl.auto">create</property> -->
    
   <!-- List of XML mapping files -->
   <mapping resource="com/orm/hibernate/mapping/Employee.hbm.xml"/>
   <mapping resource="com/orm/hibernate/mapping/AddressXmlMapping.hbm.xml"/>
   <mapping resource="com/orm/hibernate/mapping/Certificates.hbm.xml"/>
   
   <mapping resource="com/orm/hibernate/mapping/ManyToOne.hbm.xml"/>
   <mapping resource="com/orm/hibernate/mapping/OneToMany.hbm.xml"/>
   <mapping resource="com/orm/hibernate/mapping/ManyToMany.hbm.xml"/>
   
   <!-- Annotation based entities -->
   <mapping class="com.org.hibernate.entity.Student"/>
   <mapping class="com.org.hibernate.entity.Address"/>
   
   <mapping class="com.org.hibernate.entity.Student2AnnotationsBased"/>
   <mapping class="com.org.hibernate.entity.CertificatesAnnotationsBased"/>

</session-factory>
</hibernate-configuration>